html,
body {
  margin: 1em 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
}

h1 {
  text-align: center;
  font-size: 2em;
}

canvas {
  display: block;
  margin: 0 auto;
  border: 1px solid black;
}

#controls {
  display: flex;
  justify-content: center;
  align-items: start;
}

#controls li {
  list-style-type: none;
}
